#Page {
    margin: auto;
    width: 1500px;
    height: 900px;
    ;
}

body {
    background-color: white;
}

.focus {
    margin-top: 30px;
    height: 562.5px;
}

#creation {
    width: 75%;
    float: left;
}

#list {
    color: white;
    background: #323232;
    float: right;
    width: 24%;
}

#pizza {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(images/pizzaJustCrust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /*    border: 1px solid black;*/
}

#myImg {
    margin: auto;
}

.toppingSide {
    float: right;
    width: 49%;
    height: 100%;
    border: 1px solid black;
}

#logo {
    background-image: url(images/logo.png);
    height: 84px;
    width: 515px;
    background-repeat: no-repeat;
    margin: auto;
}

#Header {
    display: flex;
    align-items: center;
    background-image: url(images/wood.jpg);
    height: 130px;
    width: inherit;
    margin: auto;
    background-repeat: no-repeat;
}

#pt1,
pt2 {
    height: 600px;
    width: 49%;
    float: left;
    display: table-row;
}

#toppingDIv {
    height: 410px;
    width: 400px;
    margin: auto;
    background-image: url(images/pinneappleFull.png), url(images/baconFull.png);
    background-repeat: no-repeat;
}

.toppingSide > div {
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
}

#toppingSelect > div {
    float: left;
    width: 49%;
    height: 344px;
}

#toppingSelect select {
    border-radius: 10px;
}

#toppingSelect label {
    width: 110px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

span {
    float: right;
}