    #Page {
        margin: auto;
        width: 1500px;
        height: 755px;
    }
    
    body {
        background-image: url(images/back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .focus {
        margin-top: 20px;
        height: 562.5px;
    }
    
    #creation {
        width: 75%;
        float: left;
        background: white;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #list {
        position: relative;
        color: white;
        background: rgb(57, 128, 60);
        float: right;
        width: 24%;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #pizza {
        margin-left: 25px;
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(images/pizzaDisplay.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        /*    border: 1px solid black;*/
    }
    
    #specialtyPizzas {
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(242, 103, 34);
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }
    
    #centerwrapper {
        display: inline-block;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .specialty {
        border-radius: 20px;
        background-color: rgb(246, 139, 31);
        height: 50px;
        width: 150px;
        text-align: center;
        margin: 0 2.5px;
        float: left;
        display: flex;
        align-items: center;
        font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
        cursor: pointer;
    }
    
    @keyframes darken {
        from {
            color: black;
            background: rgb(246, 139, 31);
        }
        to {
            color: white;
            background: rgb(57, 128, 60);
        }
    }
    
    .specialty:hover {
        animation-name: darken;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes lighten {
        from {
            color: white;
            /*        background: rgb(246, 139, 31);*/
            background: rgb(57, 128, 60);
        }
        to {
            color: black;
            background: rgb(246, 139, 31);
        }
    }
    
    .specialty:not(hover) {
        animation-name: lighten;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    
    .specialty div {
        text-align: center;
        margin: auto;
    }
    
    #logo {
        background-image: url(images/updatedLogo.png);
        height: 91px;
        width: 460px;
        background-repeat: no-repeat;
        margin: auto;
        /* for the dropshadow on the logo */
        -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.75));
        filter: url(#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";
    }
    
    #Header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        align-items: center;
        background-image: url(images/wood.jpg);
        height: 130px;
        width: inherit;
        margin: auto;
        background-repeat: no-repeat;
    }
    
    .pt {
        margin: 0 auto;
        text-align: center;
        height: 344px;
        width: 50%;
        float: left;
        display: table-row;
    }
    
    #toppingDIv {
        height: 470px;
        width: 470px;
        margin: auto;
    }
    
    .toppings {
        border-left: 2px solid orange;
        height: 560px;
        width: 45%;
        float: right;
        color: rgb(57, 128, 60);
        ;
    }
    
    #toppingSelect * {
        text-align: center;
    }
    
    span {
        float: right;
        padding-right: 25px;
    }
    
    #pizzaSizes {
        text-align: center;
    }
    
    #sauces {
        text-align: center;
        width: 100%;
    }
    
    #pizzaSauce {
        display: inline;
        width: 100%;
    }
    
    span {
        text-align: center;
        color: rgb(242, 103, 34);
    }
    
    fieldset {
        border: 0px;
        width: 300px;
        margin: auto;
    }
    
    label {
        color: black;
    }
    /*radio button*/
    
    input[type="radio"] {
        display: none;
    }
    
    input[type="radio"] + span {
        background-color: #fefefe;
        border: 1px solid;
        border-color: #ccc #fff #fff #ccc;
        border-radius: 50px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
        margin-right: 30px;
        padding: 7px;
        -webkit-appearance: none;
    }
    
    input[type="radio"]:checked + span {
        color: white;
        background-color: rgb(57, 128, 60);
    }
    
    label:hover input[type="radio"] + span {
        border-color: rgb(242, 103, 34);
    }
    /*bottom border*/
    
    .borderBot {
        border-bottom: 2px solid orange;
        width: 280px;
        margin: auto;
        margin-bottom: 20px;
        border-style: dotted;
    }
    /*optionsbox*/
    
    #toppingSelect select {
        margin-bottom: 10px;
        background-color: #fefefe;
        border: 1px solid;
        border-color: #ccc #fff #fff #ccc;
        border-radius: 10px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
        margin-right: 30px;
        padding: 7px;
    }
    
    #toppingSelect label {
        width: 110px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    /*list*/
    
    #submit {
        height: 30px;
        width: 90px;
        padding: 5px;
        background-color: rgb(242, 103, 34);
        display: flex;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top: 520px;
        left: 135px;
        cursor: pointer;
    }
    
    #submit h4 {
        margin: auto;
        cursor: pointer;
    }
    
    #specialDeal {
        margin-top: 5px;
        text-align: center;
    }
    
    #specialDeal h4 {
        color: black;
        display: inline-block;
        padding: 5px;
        background-color: rgb(246, 139, 31);
        border: 3px solid rgb(242, 103, 34);
        border-radius: 15px;
        margin: 3px auto;
    }
    
    .hidden {
        visibility: hidden;
    }
    
    #innerList {
        color: black;
        width: 75%;
        margin: 10px auto;
        background-color: rgb(246, 139, 31);
        border: 3px solid rgb(242, 103, 34);
        border-radius: 20px;
    }
    
    #innerList h3 {
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    #listTotal {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
    }
    /*topping applying*/
    
    #kindaCanvas {
        margin-left: 80px;
        width: 400px;
        height: 440px;
    }
    
    .images {
        position: absolute;
        z-index: 10;
    }