#Page {
    background-color: red;
    margin: auto;
    width: 1500px;
    height: 725px;
    ;
}

body {
    background-color: white;
}

.focus {
    margin-top: 30px;
    height: 562.5px;
}

#creation {
    width: 75%;
    float: left;
}

#list {
    background: #323232;
    float: right;
    width: 24%;
}

#pizza {
    background-color: #313131;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(images/pizzaJustCrust.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /*    border: 1px solid black;*/
}

#specialtyPizzas {
    background-color:black;
    height: 50px;
    width: 1500px;
    margin:auto;
    
}
#spicyItalian {
    background-color: aqua;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 5px;
    float: left;
    display: flex;
    align-items: center;
  
}

#spicyItalianText {
    margin: auto;
    
}

#worksPizza {
    background-color: aqua;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 5px;
    float: left;
    display: flex;
    align-items: center;
}

#worksText {
    margin: auto;
}

#veggiePizza {
    background-color: aqua;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 5px;
    float: left;
    display: flex;
    align-items: center;
}

#veggieText {
    margin: auto;
}

#meatLoverPizza {
    background-color: aqua;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 5px;
    float: left;
    display: flex;
    align-items: center;
}

#meatLoverText {
    margin: auto;
}

#bbqChickenPizza {
    background-color: aqua;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-right: 5px;
    float: left;
    display: flex;
    align-items: center;
}

#bbqChickenText {
    margin: auto;
}

#myImg {
    margin: auto;
}

.toppings {
    text-align: center;
    float: right;
    width: 49.9%;
    height: 100%;
    background: #a1a1a1;
}

#logo {
    background-image: url(images/logo.png);
    height: 84px;
    width: 515px;
    background-repeat: no-repeat;
    margin: auto;
}

#Header {
    display: flex;
    align-items: center;
    background-image: url(images/wood.jpg);
    height: 130px;
    width: inherit;
    margin: auto;
    background-repeat: no-repeat;
}

#pt1,
pt2 {
    height: 600px;
    width: 49%;
    float: left;
    display: table-row;
}

#pizzaSizes {
    width: 200ps;
    height: 200px;
    float: left;
}

input {
    width: 20px;
    position: relative;
    left: 200px;
    vertical-align: middle;
}

label {
    width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#toppingDIv {
    height: 410px;
    width: 400px;
    margin: auto;
    background-image: url(images/baconFull.png);
    background-repeat: no-repeat;
}